<div class="shapka">
    
    
  <!-- <div link="#000000" vlink="#000000" alink="#000000" bgcolor="black">
      <style>
          a { 
           text-decoration: none; 
          } 
         </style> -->
      <a href="auth"><input type="button" class="inter" value="Вход"></a>


      




      <button class="btn-toggle"> Темы</button>
      
<div class="Gmail"></div>
  </div>
</div>

</div>
<div class="menu">
  <button onclick="myFunction()" class="theme">Контакты</button>
  <div id="myDropdown" class="menu-content">
    <a href="#"><img src="/img/Telefone.png"> +7(978)*********</a>
    <a href="#"><img src="/img/Gmail.png"> andreichebanov98@gmail.com</a>
    <a href="#"><img src="/img/vk.png">@andreichebnov</a>
  </div>